.tab, .active {
    border: none;
    font-weight: bold;
    font-size: 1em;
    height: 35px;
}

.tab {
    background-color: transparent;
    color: gray;
}

.tab:hover, .active {
    background-color: white;
    color: rgb(0, 140, 255);
    border-radius: 5px 5px 0 0;
    height: 100%;
}


