
.frame {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.buttonPanel {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.codeInput {
    flex: 1;
    width: 100%;
    overflow: hidden;
}

.codeOutput {
    flex: 1;
    width: 100%;
    min-height: 30%;
}